<!DOCTYPE html>
<html>
    <head>
        <title>Stylists</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

        <style>
        #left{
            float: left;


        }
        #right{
            float: left;
            background-color: linen;


        }


        </style>
    </head>
    <body>
<div class="container">


<h1>{{ stylist.getName }}</h1>


<div id="left">
            <form action="/stylist/{{ stylist.getId() }}" method = "post">
                <label for="name">Add Client </label>
                <input id="name" name="name" type="text"></input>
                <input id="stylist" name="stylist" type="hidden" value="{{ stylist.getId() }}">
                <button type="Submit">Add stylist</button>
            </form>

        </div>

           <div id="right">


           {% for client in clients %}
           <a href="/client/{{ client.getId }}">{{ client.getName }}</a>


           {% endfor %}
           </div>



          <form action="/stylist/{{ stylist.getId() }}/edit" method="post">
           <button type="submit">Edit Category Name</button>
</div>
    </body>
</html>
